---
interface Props {
  title: string;
  price: number;
  imageUrl: string;
}

const { title, price, imageUrl } = Astro.props;
---

<div class="bg-white overflow-hidden text-center border border-slate-200">
  <div class="aspect-square w-full">
    <img
      src={imageUrl}
      alt={title}
      class="w-full h-full object-cover"
    />
  </div>
  <div class="p-4 flex flex-col items-center py-10">
    <h3 class="text-dark mb-2">{title}</h3>
    <h5 class="text-blue mb-5">${price.toFixed(2)}</h5>
    <button class="btn-primary">
      See Details
    </button>
  </div>
</div>